.buttonDiv {
  width: 100%;
  //padding-bottom: 10px;
  margin-top: 0px;
}

.box {
  max-height: 28px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 0px;
}

.iconDiv {
  //width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pickerDiv {
  display: none;
  max-height: 1px;
  max-width: 1px;
}

.showDateDiv {
  padding-left: 5px;
}

.calendar {
  border: none !important;
}

.header {
  border: none !important;
}
.categoryButton {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.gradientText {
  background: linear-gradient(to bottom right, #00ffff 0%, #ff9999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calendarButtonText {
  text-shadow: 2px 1 1 #000000;
  background-color: #f7f1f1;
}
