.buttonDiv {
  width: 100%;
  //padding-bottom: 10px;
  margin-top: 0px;
}

.box {
  max-height: 28px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 0px;
}

.iconDiv {
  //width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pickerDiv {
  display: none;
  max-height: 1px;
  max-width: 1px;
}

.showDateDiv {
  padding-left: 5px;
}

.calendar {
  border: none !important;
}

.header {
  border: none !important;
}
.categoryButton {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.gradientTop {
  background: linear-gradient(to bottom right, #ffffff 0%, #ec7272 100%);
}

.calendarButtonText {
  text-shadow: 2px 1 1 #000000;
  background-color: #f7f1f1;
}

.cardText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
