<body>
    <h2>Hey {{userName}}</h2>
    <p>You have {{numberOfTasks}} pending tasks</p>
    {{#each tasks}}
        <li>{{this}}</li>   
    {{/each}}
<p>Click <a href="https://spardutti.github.io/todoapp-native-ts/">here</a> to update your tasks </p>
</body>